* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34495e;
}

input {
    border: none;
    outline: none;
    background-color: #95a5a6;
    padding: 12px 16px;
    font-size: 16pt;
    text-align: center;
    color: #2c3e50;
}